---
const { songUrl, songTitle, albumTitle, albumArt } = Astro.props;
const songThing = `addToQueue('${songUrl}')`;
---

<div class="song-card">
    <img src={albumArt} alt="Album Art">
    <p class="song-title">{songTitle}</p>
    <p class="album-title">{albumTitle}</p>
    <button class="play-button" onclick={songThing}>Play</button>
</div>